html{
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  scroll-behavior: smooth;
}

.content-container {
  height: 100%;
}

.scroll {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.v-application {
  display: initial;
  position: initial;
}

.v-application--wrap {
  display: initial;
  flex: none;
  flex-direction: initial;
  height: 100%;
  min-height: 100%;
  position: initial;
}
