html{
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  scroll-behavior: smooth;
  height: 100%;
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.content-container {
  height: 100%;
}

.scroll {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.v-application {
  display: initial !important;
  position: initial !important;
}

.v-application--wrap {
  display: initial !important;
  flex: none !important;
  flex-direction: initial !important;
  height: 100% !important;
  min-height: 100% !important;
  position: initial !important;
}
